{
  "swagger": "2.0",
  "info": {
    "title": "API Evangelist - Frequently Asked Questions API",
    "description": "This is an frequently asked questions for helping manage the frequently asked questions details of many disparate Frequently Asked Questions. Not all APis use the same approach, and this is an attempt to organize the mess.",
    "termsOfService": "http://kinlane.com/terms-of-service.html",
    "version": "v1"
  },
  "host": "frequently-asked-questions.api.apievangelist.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/frequently-asked-questions/": {
      "get": {
        "summary": "Get Frequently Asked Questions",
        "description": "retrieves all frequently asked questions entries",
        "operationId": "getFrequently Asked Questions",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "query",
            "description": "a text query to search across frequently asked questions entries",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the frequently asked questions entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "frequently asked questions response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/frequently_asked_questions"
              }
            }
          }
        },
        "tags": [
          "Frequently Asked Questions"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "Add Frequently Asked Questions",
        "description": "add frequently asked questions",
        "operationId": "addChangeLog",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host of the frequently asked questions entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "title",
            "description": "title of the frequently asked questions entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "image",
            "description": "image for the frequently asked questions entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "header",
            "description": "header for the frequently asked questions entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "footer",
            "description": "footer for the frequently asked questions entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "frequently asked questions response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/frequently_asked_questions"
              }
            }
          }
        },
        "tags": [
          "Frequently Asked Questions"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/frequently-asked-questions/{frequently_asked_questions_id}/": {
      "delete": {
        "summary": "Delete Frequently Asked Questions",
        "description": "delete an frequently asked questions entry",
        "operationId": "deleteChangeLog",
        "parameters": [
          {
            "in": "path",
            "name": "frequently_asked_questions_id",
            "description": "id for the frequently asked questions entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the frequently asked questions entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "frequently asked questions response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/frequently_asked_questions"
              }
            }
          }
        },
        "tags": [
          "Frequently Asked Questions"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "get": {
        "summary": "Get Frequently Asked Questions",
        "description": "retrieve a specific frequently asked questions entry",
        "operationId": "getChangeLogEntry",
        "parameters": [
          {
            "in": "path",
            "name": "frequently_asked_questions_id",
            "description": "id for the frequently asked questions entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "frequently asked questions response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/frequently_asked_questions"
              }
            }
          }
        },
        "tags": [
          "Frequently Asked Questions"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "put": {
        "summary": "Update Frequently Asked Questions",
        "description": "update an frequently asked questions entry",
        "operationId": "updateChangeLog",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "title",
            "description": "title of the frequently asked questions entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "image",
            "description": "image for the frequently asked questions entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "header",
            "description": "header for the frequently asked questions entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "footer",
            "description": "footer for the frequently asked questions entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the frequently asked questions entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "frequently asked questions response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/frequently_asked_questions"
              }
            }
          }
        },
        "tags": [
          "Frequently Asked Questions"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/frequently-asked-questions/{frequently_asked_questions_id}/keys/": {
      "post": {
        "summary": "Add Frequently Asked Questions Key",
        "description": "Add frequently asked questions key",
        "operationId": "addChangeLogKey",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "frequently_asked_questions_id",
            "description": "unique id of the frequently asked questions entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "name of the frequently asked questions entry key",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "description for the frequently asked questions entry key",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "frequently asked questions response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/keys"
              }
            }
          }
        },
        "tags": [
          "Keys"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/frequently-asked-questions/{host}/default/": {
      "post": {
        "summary": "Set Default Frequently Asked Questions For Host",
        "description": "set default frequently asked questions for host",
        "operationId": "setDefaultChangeLogForHost",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "frequently_asked_questions_id",
            "description": "unique id of the frequently asked questions entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "name of the frequently asked questions entry key",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "description for the frequently asked questions entry key",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "frequently asked questions response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/frequently_asked_questions"
              }
            }
          }
        },
        "tags": [
          "Keys"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/frequently-asked-questions/{host}/": {
      "get": {
        "summary": "Get Frequently Asked Questions by Host",
        "description": "retrieves all frequently_asked_questions entries by host",
        "operationId": "getFrequently Asked Questions",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "query",
            "description": "a text query to search across frequently asked questions entries",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the frequently asked questions entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "frequently asked questions response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/frequently_asked_questions"
              }
            }
          }
        },
        "tags": [
          "Frequently Asked Questions"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "definitions": {
    "frequently_asked_questions": {
      "properties": {
        "frequently_asked_questions_id": {
          "description": "The unique id for the frequently asked questions entry.",
          "type": "string"
        },
        "title": {
          "description": "The title for the frequently asked questions entry.",
          "type": "string"
        },
        "image": {
          "description": "The image for the frequently asked questions entry.",
          "type": "string"
        },
        "header": {
          "description": "The header for the frequently asked questions entry.",
          "type": "string"
        },
        "footer": {
          "description": "The footer for the frequently asked questions entry.",
          "type": "string"
        },
        "keys": {
          "description": "The keys for the frequently asked questions entry.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/keys"
          }
        }
      }
    },
    "keys": {
      "properties": {
        "key_id": {
          "description": "The unique id for the frequently_asked_questions key.",
          "type": "string"
        },
        "name": {
          "description": "The unique id for the frequently asked questions entry.",
          "type": "string"
        },
        "description": {
          "description": "The title for the frequently asked questions entry.",
          "type": "string"
        },
        "frequently_asked_questions_id": {
          "description": "The unique id for the frequently asked questions entry.",
          "type": "string"
        }
      }
    }
  }
}
